@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,800');
html, body{
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}
nav{
    padding: 10vmin 1rem;
}
.nav li{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .02em;
    font-weight: 300;
    font-style: normal;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    text-align: center;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.center-block h3, .center-block h1{
    text-transform: uppercase;
}
.center{
    text-align: center;
}
#splash{
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    font-family: 'Raleway', sans-serif;
    letter-spacing: .3em;
}
#splash img{
    width: 30%;
    margin: auto;
}
@media screen and (max-width: 1024px ){
    #splash img{
        width: 66%;
        margin: auto;
    }
}
@media screen and (max-width: 768px ){
    #splash img{
        width: 100%;
        margin: auto;
    }
}
.animated{
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
}
#grid img{
    //width: 100%;
    overflow: hidden;
    padding: 15px;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
.mod {
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
}
@media screen and (min-width: 1024px) {
    #grid{
        margin-left: 10%;
        margin-right: 10%;
    }
    #contact form, #contact input, #contact textarea, #contact button, #contact label{
        margin: auto;
        text-align: center;
        width:70%;
    }
}
@media screen and (max-width: 1024px) {
    #grid {
        margin-left: 0%;
        margin-right: 0%;
    }
    #contact form, #contact input, #contact textarea, #contact button, #contact label{
        margin: auto;
        text-align: center;
        width:90%;
    }
}
.mod-body{
    border-right: 1px lightgray solid ;
}
#grid .modal-body{
    padding: 0;
}
.modal-content{
    border-radius:0px ;
}
.modal-title{
 text-align: center;
    text-transform: uppercase;
}
.mod-side a{
    width: 100%;
    border-radius: 0px;
    color: #111;
}
.twitter:hover{
    background-color: #1dcaff;
    transition: .5s ease;
}
.facebook:hover{
    background-color: #3b5998;
    transition: .5s ease;
}
.email:hover{
    background-color: #eea236;
    transition: .5s ease;
}
.twitter, .facebook, .email{
    transition: .5s ease;
}

#contact input, #contact textarea{
    border-radius: 5px;
    border-color: #333;
    border-width: 1.5px;
    transition: 1s ease;
}
#contact input:focus, #contact textarea:focus{
    border-radius: 0px;
    outline: 0;
    transition: 1s ease;
}

#contact label{
    font-weight: lighter;
    color: #333;
}
#contact button{
    border: #333 solid 1px;
    background: rgba(0,0,0, 0.05);
    font-weight: lighter;
    transition: 1s ease;
}
#contact button:focus{
    outline: 0px;
}
#contact button:hover{
    background: rgba(0,0,0, 0.2);
    transition: 1s ease;
}
#contact, #about{
    padding-bottom: 15%;
}
#about h4{
    font-weight: lighter;
    letter-spacing: 0.15em;
}
#about h3{
    font-weight: 300;
    letter-spacing: 0.07em;
    line-height: 1.5em;
    font-size: 16px;
}
#about a{
    border: #333 solid 1px;
    background: rgba(0,0,0, 0.05);
    transition: 1s ease;
    color: #000;
    padding: 5px 35px;
    font-size: 75%;
    letter-spacing: 0.05em;
    border-radius: 0;
}
#about a:focus{
    outline: 0px;
}
#about a:hover{
    background: rgba(0,0,0, 0.2);
    transition: 1s ease;
}
.navbar-brand img{
    width: 50%;
}
.navbar-brand{
    padding-top: 0px;
}
#sort{
    margin-bottom: 45px;
}
#sort button{
    text-transform: uppercase;
    border-color: transparent;
    border-width: 0px;
    transition: 1s ease;
    background-color: transparent;
    border-radius: 0px;
}
#sort button:hover{
    background-color: transparent;
    border-bottom: solid 1px #333;
    transition: 1s ease;
}
#grid .web, #grid .video, #grid .graphics{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    border-top: 1px solid #888888 ;
    width: 75%;
    padding-top: 5px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}
footer p{
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
}
.img-p img{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.mod{
    overflow: hidden;
    height: 50vh;
}
.panel-default{
    border: 0px;
    border-color: transparent;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.panel-default>.panel-heading{
    background-color: transparent;
    border-color: transparent;
    text-transform: uppercase;
    text-align: center;
}
.panel-default>.panel-heading a{
    font-weight: 300;
    border: none;
    //transition: 1.5s ease;
}
.panel-default>.panel-heading a:hover{
    border-bottom: 1px solid #333;
    //transition: 1.5s ease;
    text-decoration: none;
}
.panel-default>.panel-heading a:visited, .panel-default>.panel-heading a:focus{
    text-decoration: none;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body{
    border-top: none;
}
#ua img{
    width: 50%;
}
button:focus, button:active{
    border: none;
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#embark img{
    width: 50%;
    display: block;
    margin: auto;
}
#embark-img img{
    width: 50%;
}
#ua-vid{
    padding-left: 10%;
    padding-right: 10%;
}
#out-img{
    width: 60%;
}
#grid button img {
    width: 75% !important;
}
#grid button {
    width: 100% !important;
}
#grid div{
    padding-left: 0;
    padding-right: 0;
}
#origin{
    background-color: #e1e1e1;
}
#outbg{
    background-color: #1e1e1d;
}
#sabor{
    background-color: rgba(35,207,233,0.3);
}
#tetra{
    background-color: #21205f;
}
#basil{
    background-color: #a85d5b;
}
#ua{
    background-color: #ed1c24;
}
#embark{
    background-color: #61cef3;
}
#academic{
    background-color: rgba(242,98,76,0.3);
}