@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,800');
html, body{
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}
nav{
    padding: 10vmin 1rem;
}
.nav li{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .02em;
    font-weight: 300;
    font-style: normal;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    text-align: center;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.center-block h3, .center-block h1{
    text-transform: uppercase;
}
.center{
    text-align: center;
}
#splash{
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    font-family: 'Raleway', sans-serif;
    letter-spacing: .3em;
}
.animated{
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
}
#grid img{
    width: 100%;
    overflow: hidden;
    padding: 15px;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
.mod {
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
}
@media screen and (min-width: 1024px) {
    #grid{
        margin-left: 10%;
        margin-right: 10%;
    }
    #contact form, #contact input, #contact textarea, #contact button, #contact label{
        margin: auto;
        text-align: center;
        width:70%;
    }
}
@media screen and (max-width: 1024px) {
    #grid {
        margin-left: 0%;
        margin-right: 0%;
    }
    #contact form, #contact input, #contact textarea, #contact button, #contact label{
        margin: auto;
        text-align: center;
        width:90%;
    }
}
.mod-body{
    border-right: 1px lightgray solid ;
}
#grid .modal-body{
    padding: 0;
}
.modal-content{
    border-radius:0px ;
}
.modal-title{
 text-align: center;
    text-transform: uppercase;
}
.mod-side button{
    width: 100%;
    border-radius: 0px;
    color: #111;
}
.twitter:hover{
    background-color: #1dcaff;
    transition: .5s ease;
}
.facebook:hover{
    background-color: #3b5998;
    transition: .5s ease;
}
.email:hover{
    background-color: #eea236;
    transition: .5s ease;
}
.twitter, .facebook, .email{
    transition: .5s ease;
}

#contact input, #contact textarea{
    border-radius: 5px;
    border-color: #333;
    border-width: 1.5px;
    transition: 1s ease;
}
#contact input:focus, #contact textarea:focus{
    border-radius: 0px;
    outline: 0;
    transition: 1s ease;
}

#contact label{
    font-weight: lighter;
    color: #333;
}
#contact button{
    border: #333 solid 1px;
    background: rgba(0,0,0, 0.05);
    font-weight: lighter;
    transition: 1s ease;
}
#contact button:focus{
    outline: 0px;
}
#contact button:hover{
    background: rgba(0,0,0, 0.2);
    transition: 1s ease;
}
#contact, #about{
    padding-bottom: 15%;
}
#about h4{
    font-weight: lighter;
    letter-spacing: 0.15em;
}
#about h3{
    font-weight: 300;
    letter-spacing: 0.07em;
    line-height: 1.5em;
    font-size: 16px;
}
#about a{
    border: #333 solid 1px;
    background: rgba(0,0,0, 0.05);
    transition: 1s ease;
    color: #000;
    padding: 5px 35px;
    font-size: 75%;
    letter-spacing: 0.05em;
    border-radius: 0;
}
#about a:focus{
    outline: 0px;
}
#about a:hover{
    background: rgba(0,0,0, 0.2);
    transition: 1s ease;
}